<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>NFaceVerificationClient 13.0</string>
	<key>CFBundleExecutable</key>
	<string>NFaceVerificationClient</string>
	<key>CFBundleGetInfoString</key>
	<string>NFaceVerificationClient 13.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.neurotec.NFaceVerificationClient</string>
	<key>CFBundleName</key>
	<string>NFaceVerificationClient</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>13.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>13.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
