<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>_UIButtonBarTargetAction/@_invoke:forEvent:</string>
		<key>disabled</key>
		<true/>
	</dict>
	<dict>
		<key>key</key>
		<string>Acht.HNMenuViewController/@viewDidAppear</string>
		<key>disabled</key>
		<true/>
	</dict>
	<dict>
		<key>key</key>
		<string>Acht.CameraPreview/@viewDidAppear</string>
		<key>disabled</key>
		<true/>
	</dict>
	<dict>
		<key>key</key>
		<string>Acht.HomeMenuContainerViewController/@viewDidAppear</string>
		<key>disabled</key>
		<true/>
	</dict>
	<dict>
		<key>key</key>
		<string>Acht.BaseNavigationController/@viewDidAppear</string>
		<key>disabled</key>
		<true/>
	</dict>
	<dict>
		<key>key</key>
		<string>Acht.UserProfileViewController/@viewDidAppear</string>
		<key>name</key>
		<string>Page-Account</string>
	</dict>
</array>
</plist>
